@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001F;
  --font-Outfit: "Outfit", sans-serif;
  --font-Ovo: "Ovo", serif;
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}